nav{
    background-color: #333;
    color:#fff;
    padding:8px 10%;
}
ul{
    display: flex;
    list-style-type: none;
    font-size: 1.6rem;
    li{
        margin-right: 20px;
        &:hover{
            cursor: pointer;
        }
        &.active{
            font-weight: bold;
        }
        a{
            text-decoration: none;
            &:visited{
                color:#fff;
                
            }
            &:hover{
                color: #ccc;
            }
        }
    }
 
}

footer{
    background-color: #333;
    padding: 12px;
    text-align: center;
    color:#fff;
    margin-top: 80vh;    
}

img{
    padding: 0px;
    width: 100px;
    margin: -30px 20px;
}