// $default-font-color: hsl(120, 44%, 68%);

// div{
//     &.movie {
//         background-color: $default-font-color;
//         padding: 14px;
//         width: 50em;
//         // height: 10em;
//         h2{
//             &.title{
//                 font-size: 1.4rem;
//                 padding: 12px 0;
//                 text-align: center;
//                 width: 100%;    
//                 margin: auto;
//                 letter-spacing: .2em;
//                 text-transform: uppercase;
//                 background-color: rgba(33,33,33,.9);
//             }
//         }
//         h3{
//             background-color: #333;
//             border-top: solid 1px rgba(255,255,255, .2);
//             margin: auto;
//             text-align: center;
//             padding: 8px;
//             font-size: 1em;
//         }
//     }
// }

// .old{
//     color: hsl(120, 93%, 79%);
// }



// // select{
// //     width: 280px;
// //     margin: auto;
// // }
body{
    background-color: #eee;
}
h1{
    text-align: center;
    height: 80px;
    color: #333333;
}

.movie{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

img{
    width: 200px;
    // padding:0 50px;
    box-shadow: 3px 3px 10px #ccc,  -3px -3px 10px #ccc;
// animation: rotateImg 1.5s infinite;
}

@keyframes rotateImg {
    0% { transform: rotate(0deg); }
    
    100% { transform: rotate(360deg); }
    }


.example-card {
     width: 300px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 15px;
     border-top-left-radius:10px;
     border-top-right-radius:10px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  span{
      font-size: 1.6em;
  }

  .mat-form{
      margin-left: 20%;
  }

  #search{
      display: flex;
      box-shadow: 1px 1px 6px #ccc ;
      justify-content: center;
      width: 70%;
      margin:20px auto;
      padding: 8px 60px;
  }