<h1> {{ title }}</h1>

<!-- <div class="movie" *ngFor="let movie of movies" [style.color]="'skyblue'">

  <div *ngIf="movie.code == defaultCountry || defaultCountry == 'all'"> 

    <h2 [ngClass]="{'old': movie.year < 2000, 'title': true }">  {{movie.title}}  </h2>

    <h3>{{movie.year}} | ({{movie.country}})</h3>

  </div> -->

  <!-- search form  -->
  <div id="search">
    <app-search (movies)="receiveMovies($event)"></app-search>

    <form action="">
      <mat-form-field class="mat-form">
        <mat-label>By Year</mat-label>
    
    <mat-select size="1" [(ngModel)]="defaultYear" [ngModelOptions]="{standalone: true}" > 
                <mat-option value="all" selected>All</mat-option>
                <mat-option *ngFor="let year of years" value="{{year}}">
                    {{year}}
                </mat-option>
            </mat-select>
      </mat-form-field>
    </form>
  </div>

  <!--  display all movies  -->
  <div class="movie">
      <div class="wrapper" *ngFor="let movie of movies">
       <mat-card class="example-card" *ngIf="movie.year == defaultYear || defaultYear == 'all'" >
        <mat-card-header >
         
          <mat-card-title [ngClass]="{'old': movie.year < 2000, 'title': true }">  {{movie.title}} </mat-card-title>
          <mat-card-subtitle class="subtitle">{{movie.year}} | ({{movie.director}})</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="{{movie.img}}" alt="movie wallpaper"> -->
        <img mat-card-image src="https://www.offer.com.cy/images/no_photo.jpg" alt="movie wallpaper">
        <mat-card-content >
                    
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button><span>&#9829;</span> Favorite <span>&#9829;</span>  </button>
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

<!-- <button 
  (click)="toggleCountry()"
> toggle </button> -->

<!-- <ul>
  <li [ngClass]="{'active' : defaultCountry == 'all'} " (click)="defaultCountry = 'all'" >[all]</li>
  <li [ngClass]="{'active' : defaultCountry == 'US'} " (click)="defaultCountry = 'US'">[us]</li>
  <li [ngClass]="{'active' : defaultCountry == 'IT'} " (click)="defaultCountry = 'IT'">[it]</li>
</ul> -->

<!-- <div id="filter" > -->
  <!-- <select name="" id="" size="1" [(ngModel)]="defaultCountry"> directive + evenement -->
    <!-- <option value="all" selected>All</option> -->

      <!-- <option value="US" >United States </option> -->
      <!-- <option *ngFor="let code of countries" value="{{code}}"> {{code}}</option>
  </select>
</div> -->



