.example-card{
    width: 600px;
    margin:40px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(65, 20, 65);
    h1{
        text-align: center;
        span{
            font-size: 1.4rem;
        }
    }
}
img{
    width: 300px;
    box-shadow: 3px 3px 10px rgba(65, 20, 65, .36),  -3px -3px 10px rgba(65, 20, 65, .36);
}
mat-card-subtitle{
    font-size: 1.1rem;
}